.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 20px;
  background-color: var(--color-four);
  color: var(--color-one);
  position: fixed;
  width: 100%;
  height: 50px;
  z-index: 9999;
}

.links {
  display: flex;
  gap: 10px;
}
